<div class="container">
    <section id="image-intro"></section>
    <section id="loginPlace">
        <mat-grid-list cols="1" rowHeight="2:1" style="margin-right: 50px;">
            <mat-grid-tile>
                <mat-card>
                    <mat-card-content>
                        <mat-card-header>
                            <h2>Início</h2>
                        </mat-card-header>
                        <hr>
                        <mat-tab-group>
                            <mat-tab label="Login">
                                <h2>Login</h2>
                                <form action="">
                                    <h3>Digite seu e-mail</h3>
                                    <input type="email" id="inputName" placeholder=" Digite seu e-mail..."><br>
                                    <h3>Senha :</h3>
                                    <input type="password" placeholder=" Digite sua senha..."><br><br>
                                    <a href="#">Esqueci minha senha...</a>
                                    <div class="example-button-row">
                                        <button mat-fab extended color="primary">
                                            <a>✔️ Entrar</a>
                                        </button>
                                    </div>
                                </form>
                            </mat-tab>
                            <mat-tab label="Second"> Content 2 </mat-tab>
                            <mat-tab label="Third"> Content 3 </mat-tab>
                        </mat-tab-group>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </section>

</div>