@import "../header/header.component.scss";

* {
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;

    mat-card {
        width: 500px;
        height: 600px;
        background-image: url(https://th.bing.com/th/id/OIP.bvCVTjx5vUPYi1y9ZeNw0wHaGl?pid=ImgDet&w=540&h=480&rs=1);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        border: 2px solid black;

        mat-card-header {
            h2 {
                margin-left: 35%;
                font-size: 50px;
                color: $cor-principal;

                &:hover {
                    color: white;
                    cursor: context-menu;
                }
            }
        }

        .example-form {
            min-width: 150px;
            max-width: 500px;
            width: 100%;
          }
          
          .example-full-width {
            width: 100%;
          }

    }
}