<mat-toolbar>
    <div class="container">
        <button mat-button routerLink="home" class="changePageButton">
            <h3 class="mat-toolbar-text">Produtos</h3>
        </button>
        <button mat-button routerLink="login-page" class="changePageButton">
            <h3 class="mat-toolbar-text">Login</h3>
        </button>
        <button mat-button routerLink="contato" class="changePageButton">
            <h3 class="mat-toolbar-text">Contato</h3>
        </button>
        <span class="menu-spacer"></span>
        <h1><a href="http://localhost:4200/home">🚘 Best Car Place</a></h1>

    </div>
</mat-toolbar>