<div class="container">
    <section id="listaCarros">
        <h2>Veja abaixo todos os carros em estoque :</h2>
        <mat-grid-list cols="3" rowHeight="3:3.9">
            <mat-grid-tile *ngFor="let carro of carros; let i = index">
                <mat-card>
                    <div class="flipCard">
                        <div class="flipCardInner" id="flipCardInner">
                            <div class="flipCardFront" id="flipCardFront-{{carro.id}}">
                                <div id="carouselExample" class="carousel slide">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" id="imgFrontCard">
                                            <img [src]="carro.fotoExterna" class="d-block w-100" alt="">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExample" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExample" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <mat-card-content>
                                    <h2>{{ carro.titulo }}</h2>
                                    <ul>
                                        <li><strong>Cor : {{carro.cor}}</strong></li>
                                        <li><strong>Preço: {{carro.valor}}</strong></li>
                                    </ul>
                                    <mat-card-actions>
                                        <button (click)="rotateCard(carro.id)" type="button" id="detailsButton"
                                            class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                            <p>Detalhes atrás</p>
                                        </button>
                                    </mat-card-actions>
                                </mat-card-content>
                            </div>

                            <!--Back of the product Card-->
                            <div class="flipCardBack" id="flipCardBack">
                                <div class="backCardBody">
                                    <img [src]="carro.fotoTraseira" class="d-block w-100" alt="">
                                    <img [src]="carro.fotoInterna" class="d-block w-100" alt="">
                                </div>
                                <h2>Detalhes</h2>
                                <hr>
                                <div class="detailsList">
                                    <mat-grid-list cols="2" rowHeight="2:1">
                                        <mat-grid-tile>
                                            <ul>
                                                <li>Modelo : Ano {{carro.ano}}</li>
                                                <li>Portas : {{carro.portas}}</li>
                                                <li>Cor : {{carro.cor}}</li>
                                            </ul>
                                        </mat-grid-tile>
                                        <mat-grid-tile><button
                                                [class]="carro.favorito === false ? 'favorite' : 'favorite-checked'"
                                                [title]="carro.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'"
                                                mat-button (click)="toogleFavorito(i)">
                                                <mat-icon aria-hidden="false" aria-label="Favoritos"
                                                    fontIcon="star"></mat-icon>
                                            </button></mat-grid-tile>
                                    </mat-grid-list>
                                </div>
                                <div class="detailsArtcile">
                                    <article>
                                        <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex e
                                        </strong>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </section>
</div>