@import "../header/header.component.scss";

* {
    margin: 0;
    padding: 0;

}

.container {
    width: 1140px;
    display: block;
    margin: auto;

    h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        color: grey;
        font-size: 65px;
        text-shadow: 2.5px 2.5px 1px rgb(172, 172, 172);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #imoveisFavoritos {
        h2 {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            color: rgb(0, 0, 0);
            font-size: 45px;
            text-shadow: 2.5px 2.5px 1px grey;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }

    #listaImoveis {
        padding-top: 80px;

        h2 {
            text-align: center;
            font-size: 35;
            color: black;
            text-shadow: 2.5px 2.5px 1px grey;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }



    mat-grid-list {
        margin-top: 30px;

        mat-grid-tile {

            mat-card {
                background-color: rgba(110, 110, 110, 0.397);
                margin: 7px;
                width: 500px;
                height: 450px;
                border-radius: 10px;
                box-shadow: 7px 7px $cor-principal;
                border: 1.5px solid rgb(0, 0, 0);
                padding: 10px;

                &:hover {
                    box-shadow: 8px 8px rgb(156, 156, 156);
                    transition: all 0.5s;
                }

                .flipCard {
                    background-color: transparent;
                    perspective: 1000px;

                    .flipCardInner {
                        transform-style: preserve-3d;
                        transition: transform 1s;
                    }

                    .flipCardFront {
                        backface-visibility: hidden;
                        position: absolute;
                    }

                    .flipCardBack {
                        backface-visibility: hidden;
                        transform: rotateY(180deg);

                        .backCardBody {
                            display: flex;

                            img {
                                margin-right: 20px;
                                width: 100px;
                                height: 100px;
                                padding: 2px;
                                border-radius: 10px;
                                border: 2px solid black;
                            }
                        }
                    }
                }

                .flipCardInner {
                    &:hover {
                        transform: rotateY(-180deg);
                    }
                }

                .carousel-item {
                    width: 100%;
                    height: 195px;

                    img {
                        height: 230px;
                        border-radius: 5px;
                        border: 1.7px solid black;
                    }

                }

                mat-card-content {
                    margin-top: 10px;

                    h2 {
                        text-align: center;
                        font-family: $fonte-principal;
                        font-size: $grande;
                        color: $cor-principal;
                    }

                    ul {
                        margin-top: 15px;
                        margin-left: 5%;
                        padding-bottom: 10px;
                        list-style-type: none;

                        li {
                            text-shadow: 1px 1px black;
                            margin-top: 5px;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-style: italic;
                            color: white;
                        }
                    }

                    mat-card-actions {
                        padding-bottom: 20px;
                        gap: 20px;

                        .favorite {
                            width: 20%;
                            background-color: rgb(53, 53, 53);
                            border: 2px solid white;

                            &:hover {
                                background-color: $cor-principal;
                            }

                            mat-icon {
                                color: white;
                            }
                        }

                        .favorite-checked {
                            width: 20%;
                            background-color: rgb(53, 53, 53);

                            mat-icon {
                                color: gold;
                            }
                        }

                        button {
                            display: block;
                            width: 80%;
                            height: 48px;
                            cursor: pointer;
                            border: 3.5px solid white;
                            border-radius: 4px;
                            background-color: rgb(68, 68, 68);
                            color: white;

                            &:hover {
                                background-color: white;
                                color: $cor-principal;
                                font-family: Georgia, 'Times New Roman', Times, serif;
                                font-style: italic;
                                text-shadow: 1px 1px 1px $cor-principal;
                                transition: all 0.2s;
                            }
                        }

                        #detailsContainer {
                            width: 1140px;
                            height: 600px;
                            margin: 20px 0 0 80px;
                            background-color: rgb(255, 255, 255);
                            border-radius: 10px;

                            h2 {
                                font-size: 35px;
                                text-align: center;
                            }

                            img {
                                margin-left: 40px;
                                margin-top: 30px;
                                width: 400px;
                                height: 400px;
                            }
                        }
                    }
                }
            }

        }
    }

}