@import "../header/header.component.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin-top: 30px;
    display: block;
    min-height: calc(100vh - 160px);

    h2 {
        text-align: center;
        font-size: $extra-grande;
        padding-top: 30px;
        color: $cor-principal;
    }

    .product-details {
        padding-top: 30px;
        display: flex;
        gap: 30px;
        margin: 20px 0px 40px 60px ;

        img {
            width: 100%;
        }

        .product-description {

            width: 100%;
            p{
                font-size: $media;
                font-family: $fonte-secundaria;
            }

        }
    }
}